#wrapper.wrapper.back-img
  %br
  %div(style="text-align:center;margin-top:70px" )
    %img(src="http://qr.liantu.com/api.php?text=#{@url}")
  %br
  %br
  %br
  %div(class="alert1 alert-info1" )
    %p 请扫描二维码以登录
  %br
  %input#code(value="#{@code}" style="display:none" )
  %br
  %br
  %br
  %br
  %br
  %br
  :javascript
    $(document).ready(function(){
    code_is_used();
    })
    function code_is_used(){
      var code = document.getElementById('code').value;
      console.log('--------code-->' + code);
      $.ajax({
          url:'/code/used/'+code,
          method:'get',
          success: success_call_back,
          error:error_call_back
      })
    }
    function success_call_back(result){
       console.log(result)
      if(result!='false'){
      window.location.href = 'http://192.168.1.130:3000/users/show/'+result
      }
      else{
        setTimeout('code_is_used()',2000)
      }
    }
    function error_call_back(error) {
       console.log('error')
    }