
.back-img{
  background-image: url(background.jpg);
  background-color: #447d9a;
  background-repeat: repeat-x;
  background-position: 100% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.alert1 {
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  font-size: 30px;
}
.alert-info1 {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.nav-header1 {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.right{
  float:right;
}

.title-bar{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  margin:auto;
  width:79%;
  background:#c0c0c0;
  padding:1px
}